{% extends "store-base.html" %} {% block nav %} {% load static %}
<div class="container py-3">
  <div
    class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom"
  >
    <a
      href="#"
      class="d-flex align-items-center link-body-emphasis text-decoration-none"
    >
      <svg
        xmlns="#"
        width="40"
        height="32"
        class="me-2"
        viewBox="0 0 118 94"
        role="img"
      >
        <title>Vitronics</title>
        <path></path>
      </svg>
      <span class="fs-4 text-info">VITRONICS</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a
        class="me-3 py-2 link-body-emphasis text-decoration-none"
        href="#"
        >SHOP</a
      >
      <a
        class="me-3 py-2 link-body-emphasis text-decoration-none"
        href="#"
        >CONTACT US</a
      >
      <a
        class="me-3 py-2 link-body-emphasis text-decoration-none"
        href="#"
        >LOGIN</a
      >
      <a
        class="py-2 link-body-emphasis text-decoration-none"
        href="#"
        >CART</a
      >
    </nav>
  </div>
  {% block body %}{% endblock body %}

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-body-secondary">© 2023–2024</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1">
            <a
              class="link-secondary text-decoration-none"
              href="#"
              >Relays</a
            >
          </li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1">
            <a
              class="link-secondary text-decoration-none"
              href="#"
              >Resource</a
            >
          </li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1">
            <a
              class="link-secondary text-decoration-none"
              href="#"
              >Locations</a
            >
          </li>
          <li class="mb-1">
            <a
              class="link-secondary text-decoration-none"
              href="#"
              >Terms</a
            >
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>

{% endblock nav %}
